<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM App Test Automation Suite">

<!-- <listeners>
		<listener class-name="com.selenium.utils.ExtentReporterNG" />
	</listeners> -->

  <test name="Free CRM App Test cases">
    <classes>
      <class name="com.selenium.testcases.LoginPageTest"/>
    </classes>
  </test>
</suite>
